{% extends "master.html" %}
{% block title %}
My Cart

{% endblock %}

{% block favc %}
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/128/12408/12408211.png" type="image/x-icon">
{% endblock %}

{% block lob %}
<a href="/logout/" class="btn btn-danger me-2">Log Out</a>


{% endblock %}
{% block content %}

<!-- <style>
  table{
    border: 1px solid black;
  }

</style>
<div style="margin-top: 20px;">
       <div class="container m-10">

       




          <table class="table table-striped" style="opacity: 90%;">

          <tr>
            <th>S.no</th>
            <th> Item Name </th>
            <th> ML </th>
            <th> Price </th>
            <th> Quantity </th>
            <th>Total</th>
          </tr>
         
          {% for a in coffee %}
          
          <tr>
            <td >{{ forloop.counter }}</td>
            <td >{{a.itemname}}</td>

            <td >{{a.itemquantity}}</td>
            <td>{{a.itemprice}}</td>
            <td>{{a.itemqnt}}</td>
            <td>{{a.total}} &nbsp;Rs  <a href="{{a.itemname}}/removecart/{{a.userid}}/" style="margin-left: 60%;" class="btn btn-danger">Remove</a></td>
          </tr>
        

          {% endfor %}
          <tr>
            <td style="text-align: end;" colspan="5">Total Price :  </td>
            <td >{{checkout.totalprice}} Rs  <a href="" style="margin-left: 60%;" class="btn btn-success">Pay Now</a></td>
           </tr>

        </table>



    </div>
  
  </div> -->
  {% if coffee %}


  <div class="container mx-auto">

   <br> <a href="/store/" class="btn  btn-dark">&lt;-- Continue Shopping</a >


    {% for a in coffee %}
    <div class="card mb-3" style="max-width: 540px; margin-left: 28%; position: relative; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{a.imag}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{a.itemname}}</h5>
            <p class="card-text">ML : {{a.itemquantity}}</p>
            <p class="card-text">Price : {{a.itemprice}} Rs</p>
            <p class="card-text">Quantity : {{a.itemqnt}}</p>
            <p class="card-text"><b>Total  : {{a.total}} &nbsp;Rs </b></p>
  
            <!-- Larger Remove button -->
           <!-- Updated Remove Button -->
<a href="remove/{{a.itemname}}/{{a.userid}}/" class="btn btn-danger btn-lg" 
style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%);">
 Remove
</a>


  
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <br>
    
    <div style="margin-left: 38%;">
      <div class="card text-bg-dark mb-3" style="max-width: 18rem; align-items: center;">
        <div class="card-header"><b><i>Total Price</i></b></div>
        <div class="card-body">
          <h4 class="card-title"><b><i> ₹ {{checkout.totalprice}} </i></b></h4><br>
          <p class="card-text"><a href="checkout/" class="btn btn-success"><b>Checkout</b></a></p>
        </div>
        
      </div>
      
    </div>
  
  </div>
 
  {% else %}
  <br><br><br>
  <h2 style="text-align: center;">No items in cart! <br><br><a class="btn btn-dark" href="/store/">Shop Now</a></h2>
  <br><br><br>
  {% endif %}

    {% endblock %}
